@font-face {
  font-family: "PF Highway Sans Pro";
  src: url("../fonts/HighwaySansPro/PFHighwaySansPro-Italic.eot");
  src:
    local("../fonts/PFHighwaySansPro-Italic"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Italic.woff2") format("woff2"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Italic.woff") format("woff"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PF Highway Sans Pro Extra";
  src: url("../fonts/HighwaySansPro/PFHighwaySansPro-ExtraThin.eot");
  src:
    local("PFHighwaySansPro-ExtraThin"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-ExtraThin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-ExtraThin.woff2") format("woff2"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-ExtraThin.woff") format("woff"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-ExtraThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "PF Highway Sans Pro";
  src: url("../fonts/HighwaySansPro/PFHighwaySansPro-Light.eot");
  src:
    local("PFHighwaySansPro-Light"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Light.woff2") format("woff2"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Light.woff") format("woff"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "PF Highway Sans Pro";
  src: url("../fonts/HighwaySansPro/PFHighwaySansPro-Medium.eot");
  src:
    local("PFHighwaySansPro-Medium"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Medium.woff2") format("woff2"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Medium.woff") format("woff"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PF Highway Sans Pro";
  src: url("../fonts/HighwaySansPro/PFHighwaySansPro-Thin.eot");
  src:
    local("PFHighwaySansPro-Thin"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Thin.woff2") format("woff2"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Thin.woff") format("woff"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "PF Highway Sans Pro";
  src: url("../fonts/HighwaySansPro/PFHighwaySansPro-BoldItalic.eot");
  src:
    local("PFHighwaySansPro-BoldItalic"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-BoldItalic.woff2") format("woff2"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-BoldItalic.woff") format("woff"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PF Highway Sans Pro";
  src: url("../fonts/HighwaySansPro/PFHighwaySansPro-ThinItalic.eot");
  src:
    local("PFHighwaySansPro-ThinItalic"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-ThinItalic.woff2") format("woff2"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-ThinItalic.woff") format("woff"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "PF Highway Sans Pro Extra";
  src: url("../fonts/HighwaySansPro/PFHighwaySansPro-ExtraThinItalic.eot");
  src:
    local("PFHighwaySansPro-ExtraThinItalic"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-ExtraThinItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-ExtraThinItalic.woff2") format("woff2"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-ExtraThinItalic.woff") format("woff"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-ExtraThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "PF Highway Sans Pro";
  src: url("../fonts/HighwaySansPro/PFHighwaySansPro-MediumItalic.eot");
  src:
    local("PFHighwaySansPro-MediumItalic"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-MediumItalic.woff2") format("woff2"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-MediumItalic.woff") format("woff"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "PF Highway Sans Pro";
  src: url("../fonts/HighwaySansPro/PFHighwaySansPro-BlackItalic.eot");
  src:
    local("PFHighwaySansPro-BlackItalic"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-BlackItalic.woff2") format("woff2"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-BlackItalic.woff") format("woff"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "PF Highway Sans Pro";
  src: url("../fonts/HighwaySansPro/PFHighwaySansPro-Black.eot");
  src:
    local("PFHighwaySansPro-Black"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Black.woff2") format("woff2"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Black.woff") format("woff"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "PF Highway Sans Pro";
  src: url("../fonts/HighwaySansPro/PFHighwaySansPro-LightItalic.eot");
  src:
    local("PFHighwaySansPro-LightItalic"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-LightItalic.woff2") format("woff2"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-LightItalic.woff") format("woff"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "PF Highway Sans Pro";
  src: url("../fonts/HighwaySansPro/PFHighwaySansPro-Bold.eot");
  src:
    local("PFHighwaySansPro-Bold"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Bold.woff2") format("woff2"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Bold.woff") format("woff"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PF Highway Sans Pro";
  src: url("../fonts/HighwaySansPro/PFHighwaySansPro-Regular.eot");
  src:
    local("PFHighwaySansPro-Regular"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Regular.woff2") format("woff2"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Regular.woff") format("woff"),
    url("../fonts/HighwaySansPro/PFHighwaySansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/ProDisplay/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/ProDisplay/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: bold;
}