@import url("help.css");

html,
body {
  height: 100%;
}

.main {
  flex: 1 1 100%;
}

.header {
  padding: 9px 0;
  background-color: #fff;
  box-shadow:
    0 115px 69px rgb(11 11 11 / 2%),
    0 51px 51px rgb(11 11 11 / 3%),
    0 13px 28px rgb(11 11 11 / 3%),
    0 0 0 rgb(11 11 11 / 3%);
}

.container {
  max-width: 1246px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: visible;
}

.container-main {
  max-width: 1246px;
  padding: 0 15px;
  margin: 0 auto;
  min-height: calc(100vh - 64px);
  overflow: visible;
}

.outline-link {
  color: #7000ff;
  font-size: 16px;
  font-family: "SF Pro Display", sans-serif;
  line-height: 140%;
  font-weight: 400;
  border: 1px solid #7000ff;
  border-radius: 4px;
  padding: 12px 24px;
}

.filled-button {
  display: inline-block;
  font-family: "SF Pro Display", sans-serif;
  font-size: 24px;
  line-height: 140%;
  color: #fff;
  background: #7000ff;
  border-radius: 4px;
  padding: 12px 64px;
}

.title {
  font-family: "PF Highway Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 140%;
  color: #333;
}

.title-block {
  font-family: "PF Highway Sans Pro", sans-serif;
  font-size: 40px;
  line-height: 140%;
  color: #333;
}

.cards {
  column-gap: 20px;
  row-gap: 24px;
}

.card {
  padding: 32px 24px;
  background-color: #f8f8f9;
  border-radius: 22px;
  max-width: 289px;
  width: 100%;
  text-align: center;
}

.card__text {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333;
}

.card__title {
  font-family: "SF Pro Display", sans-serif;
  font-size: 24px;
  line-height: 140%;
  color: #333;
  margin-bottom: 12px;
}

.card__link {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  line-height: 140%;
  padding: 12px 5px;
}

.card__img {
  margin-bottom: 12px;
}

.card__name {
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #333;
}

.review {
  max-width: 33%;
  padding: 24px 32px;
}

.social-networks__item {
  width: 100%;
  padding: 24px 32px;
  background: #f8f8f9;
  border-radius: 22px;
}

.social-networks__item:not(:last-child) {
  margin-bottom: 12px;
}

.social-networks__item-text {
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #333;
}

.color-purple {
  color: #7000ff;
}

.cards--tablet {
  display: none;
}

.cards--mobile {
  display: none;
}

.advantages__item {
  max-width: 289px !important;
  width: 100% !important;
  height: 162px !important;
}

.swiper-overflow-container {
  overflow-x: hidden;
}

.swiper-overflow-container .container {
  overflow: visible;
}

.swiper-overflow-container .swiper-container {
  overflow: visible;
}

.swiper-overflow-container {
  overflow-x: hidden;
}

.swiper-container {
  overflow: visible;
}

.question__input {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  line-height: 140%;
  border: 1px solid #4e4e4e;
  border-radius: 4px;
  padding: 12px 24px;
  width: 100%;
  text-align: center;
}

.answer {
  padding: 24px 32px;
  background: #f8f8f9;
  border-radius: 22px;
}

.answer:not(:last-child) {
  margin-bottom: 12px;
}

.answer__title {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  line-height: 140%;
}

.answer__exercise {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #4e4e4e;
}

.answer__text {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
  line-height: 140%;
  color: #7000ff;
}

.answer__img {
  width: 30%;
  border: 1px solid #7000ff;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) and (min-width: 321px) {
  .title {
    font-family: "SF Pro Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
  }

  .hero {
    margin-bottom: 32px;
  }

  .why-are-we {
    margin-bottom: 32px;
  }

  .reviews {
    margin-bottom: 32px;
  }

  .reviews__cards {
    flex-wrap: wrap;
    justify-content: center !important;
  }

  .review {
    flex-wrap: wrap;
    max-width: 48%;
  }

  .social-networks {
    margin-bottom: 32px;
  }

  .cards--desktop {
    display: none !important;
  }

  .cards--tablet {
    display: block;
  }

  .container-main,
  .container {
    max-width: 808px;
  }
}

@media screen and (max-width: 768px) {
  .container,
  .container-main {
    max-width: 640px;
  }

  .title {
    font-family: "SF Pro Display", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
  }

  .review--desktop {
    display: none !important;
  }

  .cards--mobile {
    display: block;
  }

  .review {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .container-main,
  .container {
    max-width: 440px;
  }

  .container {
    justify-content: center !important;
  }

  .hero__answer-button {
    width: 308px;
    height: 58px;
    text-align: center;
  }

  .support-link {
    display: none;
  }

  .cards--mobile {
    display: none;
  }

  .cards--tablet {
    display: none;
  }

  .cards--desktop {
    display: flex !important;
    justify-content: center;
  }

  .review--desktop {
    display: flex !important;
    justify-content: center;
  }

  .review:not(:last-child) {
    margin-bottom: 12px;
  }

  .card:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 320px) {
  .container-main,
  .container {
    max-width: 280px;
  }

  .container {
    justify-content: center !important;
  }

  .hero__answer-button {
    width: 100%;
    height: 100%;
    padding: 12px 32px;
  }

  .support-link {
    display: none;
  }

  .cards--mobile {
    display: none;
  }

  .cards--tablet {
    display: none;
  }

  .cards--desktop {
    display: block !important;
  }

  .review--desktop {
    display: block !important;
  }

  .review:not(:last-child) {
    margin-bottom: 12px;
  }

  .card:not(:last-child) {
    margin-bottom: 12px;
  }
}
